@model DGS.Models.YETKILI

@if (Model != null)
{
    var imgSrc = "";
    if (Model.RESIM != null)
    {
        var base64 = Convert.ToBase64String(Model.RESIM);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <li class="nav-item dropdown u-pro">
        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src=@imgSrc alt="user" class=""> <span class="hidden-md-down">@Model.AD @Model.SOYAD &nbsp;<i class="fa fa-angle-down"></i></span> </a>
        <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <a href="/Login/cikis" class="dropdown-item"><i class="fa fa-power-off"></i> Çıkış</a>
            <!-- text-->
        </div>
    </li>
}
