@model List<DGS.Models.MUFREDAT>

@{
    ViewBag.Title = "AyrintiEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h3 class="card-title">Cihaz Ekleme Sayfası</h3>

                    @using (Html.BeginForm("AyrintiEkle", "AYRINTILAR", FormMethod.Post))
                    {

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="55%">Konu Adı</th>
                            <th width="15%">Doğru Sayısı</th>
                            <th width="15%">Yanlış Sayısı</th>
                            <th width="15%">Boş Sayısı</th>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Model[i].KONUADI</td>
                            <td>@Html.TextBoxFor(m => m[i].soru.DOGRU, new { @class = "form-control", @Placeholder = "Konu Adını Girin..." })</td>
                            <td> @Html.TextBoxFor(m => m[i].soru.YANLIS, new { @class = "form-control", @Placeholder = "Konu Adını Girin..." })</td>
                            <td> @Html.TextBoxFor(m => m[i].soru.BOS, new { @class = "form-control", @Placeholder = "Konu Adını Girin..." })</td>                    
                        </tr>
                    }
                </table>


                        <div class="form-group">
                            <input type="submit" width="75" value="Kaydet" class="btn btn-info float-right"/>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
