@{
    ViewBag.Title = "Home Page";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Bahar YILMAZ DGS Raporları</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
                <li class="breadcrumb-item active">Yönetim Paneli</li>
            </ol>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<!-- .row -->
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase">Toplam Çözülen Soru</h5>
                
                <div class="text-right">
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Doğru</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 800</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Yanlış</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 100</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Boş</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 100</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Net</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 775</h4>
                        </div>
                    </div>
                    
                </div>
                <span class="text-success">20%</span>
                <div class="progress">
                    <div class="progress-bar bg-success" style="width: 20%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase">Test İstatistikleri</h5>
                <div class="text-right">
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Doğru</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 300</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Yanlış</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 60</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Boş</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 40</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Net</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 285</h4>
                        </div>
                    </div>
                </div>
                <span class="text-primary">30%</span>
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: 30%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase">Deneme İstatistikleri</h5>
                <div class="text-right">
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Doğru</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 300</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Yanlış</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 60</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Boş</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 40</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Net</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 285</h4>
                        </div>
                    </div>
                </div>
                <span class="text-info">60%</span>
                <div class="progress">
                    <div class="progress-bar bg-info" style="width: 40%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase">App Development Course</h5>
                <div class="text-right">
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Doğru</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 300</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Yanlış</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 60</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Boş</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 40</h4>
                        </div>
                        <div class="col-lg-3">
                            <span class="text-muted">Net</span>
                            <h4><sup><i class="ti-arrow-up text-success"></i></sup> 285</h4>
                        </div>
                    </div>
                </div>
                <span class="text-inverse">80%</span>
                <div class="progress">
                    <div class="progress-bar bg-inverse" style="width: 40%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- .row -->
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h5 class="card-title text-uppercase">Test Sonuçları<br><small class="text-muted">Zamana Göre Test Sonuç Grafiği</small></h5>
                    <div class="ml-auto">
                        <ul class="list-inline font-12">
                            <li><i class="fa fa-circle text-dark"></i> Doğru</li>
                            <li><i class="fa fa-circle text-info"></i> Yanlış</li>
                            <li><i class="fa fa-circle text-success"></i> Boş</li>
                        </ul>
                    </div>
                </div>
                <div id="morris-bar-chart" style="height:375px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-b-15">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Toplam Çözülen Soru</h5>
                        <div class="row">
                            <div class="col-6 m-t-30">
                                <h1 class="text-info">$64057</h1>
                                <p class="text-muted">APRIL 2017</p> <b>(150 Sales)</b>
                            </div>
                            <div class="col-6">
                                <div id="sparkline2dash" class="text-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card bg-info m-b-15">
                    <div class="card-body">
                        <h5 class="text-white card-title text-uppercase">Testlere Göre Doğru&Yanlış</h5>
                        <div class="row">
                            <div class="col-6 m-t-30">
                                <h1 class="text-white">$30447</h1>
                                <p class="text-white">APRIL 2017</p> <b class="text-white">(110 Sales)</b>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <div id="sales1" class="text-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- ============================================================== -->
<!-- Comment - table -->
<!-- ============================================================== -->
<!-- row -->
<div class="row">
    <div class="col-md-3">
        <img class="img-responsive" alt="user" src="dist/images/big/c2.jpg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Web Designing</h5>
                <div class="m-b-30">
                    <a class="link list-icons" href="#">
                        <i class="ti-alarm-clock"></i> 2 Year
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-heart-o"></i> 38
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-usd"></i> 50
                    </a>
                </div>
                <p>
                    <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                </p>
                <p>
                    <span><i class="ti-user"></i> Professor: Jane Doe</span>
                </p>
                <p>
                    <span><i class="fa fa-graduation-cap"></i> Students: 200+</span></span>
                </p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">More Details</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" alt="user" src="dist/images/big/c1.jpg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ios Development</h5>
                <div class="m-b-30">
                    <a class="link list-icons" href="#">
                        <i class="ti-alarm-clock"></i> 2 Year
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-heart-o"></i> 38
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-usd"></i> 50
                    </a>
                </div>
                <p>
                    <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                </p>
                <p>
                    <span><i class="ti-user"></i> Professor: Jane Doe</span>
                </p>
                <p>
                    <span><i class="fa fa-graduation-cap"></i> Students: 200+</span></span>
                </p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">More Details</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" alt="user" src="dist/images/big/c4.jpg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Android Development</h5>
                <div class="m-b-30">
                    <a class="link list-icons" href="#">
                        <i class="ti-alarm-clock"></i> 2 Year
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-heart-o"></i> 38
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-usd"></i> 50
                    </a>
                </div>
                <p>
                    <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                </p>
                <p>
                    <span><i class="ti-user"></i> Professor: Jane Doe</span>
                </p>
                <p>
                    <span><i class="fa fa-graduation-cap"></i> Students: 200+</span></span>
                </p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">More Details</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" alt="user" src="dist/images/big/c3.jpg">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Web Development</h5>
                <div class="m-b-30">
                    <a class="link list-icons" href="#">
                        <i class="ti-alarm-clock"></i> 2 Year
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-heart-o"></i> 38
                    </a>
                    <a class="link list-icons m-l-10 m-r-10" href="#">
                        <i class="fa fa-usd"></i> 50
                    </a>
                </div>
                <p>
                    <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                </p>
                <p>
                    <span><i class="ti-user"></i> Professor: Jane Doe</span>
                </p>
                <p>
                    <span><i class="fa fa-graduation-cap"></i> Students: 200+</span></span>
                </p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10">More Details</button>
            </div>
        </div>
    </div>
</div>